#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp N1    &kp N2    &kp N3         // Visual Row 1
                &kp N4    &kp N5    &studio_unlock // Visual Row 2
            >;
        };
    };
};
