#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;
        kscan = <&kscan0>; 
        
        // Coordinates map to Matrix grid layout positions: <ROW COL ROTATION WIDTH HEIGHT X_OFFSET Y_OFFSET>
        keys
            = <&key_physical_attrs 0 0 0 100 100    0    0> // Row 0, Col 0 (Top Left)
            , <&key_physical_attrs 0 1 0 100 100  100    0> // Row 0, Col 1 (Top Mid)
            , <&key_physical_attrs 0 2 0 100 100  200    0> // Row 0, Col 2 (Top Right)
            , <&key_physical_attrs 1 0 0 100 100    0  100> // Row 1, Col 0 (Bottom Left)
            , <&key_physical_attrs 1 1 0 100 100  100  100> // Row 1, Col 1 (Bottom Mid)
            , <&key_physical_attrs 1 2 0 100 100  200  100> // Row 1, Col 2 (Bottom Right)
            ;
    };
};
