#include <dt-bindings/zmk/physical_layouts.h>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;
        kscan = <&kscan0>;
        
        // Tells ZMK Studio how your 6 keys are positioned on a 2D canvas grid
        keys
            = <&key_physical_attrs 0 0 0 100 100 0 0> // Key 1 (Top Left)
            , <&key_physical_attrs 0 1 0 100 100 0 0> // Key 2 (Top Mid)
            , <&key_physical_attrs 0 2 0 100 100 0 0> // Key 3 (Top Right)
            , <&key_physical_attrs 1 0 0 100 100 0 0> // Key 4 (Bottom Left)
            , <&key_physical_attrs 1 1 0 100 100 0 0> // Key 5 (Bottom Mid)
            , <&key_physical_attrs 1 2 0 100 100 0 0> // Key 6 (Bottom Right)
            ;
    };
};
