#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // Your 6 keys configured as clean, flat linear bindings
            bindings = <
                &kp Q      &kp W      &kp E      &kp A      &kp S      &studio_unlock
            >;

            // Encoder control configuration (Page Up / Page Down)
            sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
        };
    };
};
