#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h> // Required for &msc behaviors

/ {
    behaviors {
        // Custom encoder behavior to translate physical turns to mouse scrolls
        scroll_encoder: scroll_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DN>;
            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q  &kp W  &kp E  &kp R  &kp T  &studio_unlock
            >;

            // Reference your newly defined custom scroll behavior macro
            sensor-bindings = <&scroll_encoder>;
        };
    };
};
